@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-white font-sans antialiased;
}

.glass {
	@apply bg-white/5 border border-white/10 backdrop-blur-lg;
}

.card {
	@apply glass rounded-2xl shadow-2xl shadow-primary/10;
}
